* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.navbar {
    border-radius: 0;
    margin: 0;
    background: #000;
    border: none;
}

.navbar-brand {
    height: initial;
    padding: 6px;
}

img {
    max-width: 100%;
}

a.navbar-brand {
    width: 66%;
    padding: 4.5%;
}

li.header-login a {
    color: #2dcf26 !important;
    border: 1px solid #797979;
    line-height: 20px;
    padding: 0px 15px;
    margin: 14px;
}

.banner-section {
    background: url(../images/banner.png);
    color: #fff;
}

section {
    float: left;
    width: 100%;
}

section.banner-section h1 {
    font-weight: 400;
    font-size: 35px;
    text-transform: uppercase;
}

section.banner-section .banner-texts a {
    color: #2dcf26 !important;
    border: 1px solid #dcdcdc;
    line-height: 20px;
    padding: 5px 15px;
    margin: 40px 0 0;
    float: left;
}

.banner-texts {
    padding: 6% 0 4%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    outline: none;
}

.navbar-right {
    margin: 0;
}

a:hover {
    text-decoration: none;
    color: #4b955c;
}

#pinBoot {
    position: relative;
    max-width: 100%;
    width: 100%;
}

.white-panel.bookmarked-panel:hover {
    background: #f2f584;
    color: #1e1e1e;
}

.white-panel.bookmarked-panel {
    background: #f2f584;
    color: #1e1e1e;
}

.white-panel.bookmarked-panel a {
    color: #1e1e1e;
}

.white-panel {
    position: absolute;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    background: #ededed;
    border-radius: 3px;
}

.white-panel:hover {
    background: #c3f5c7;
    color: #1e1e1e;
}

.white-panel:hover a {
    color: #1e1e1e;
}

.white-panel h4 {
    font-size: 14px;
    margin: 5px 0
}

.white-panel a {
    color: #595959;
}

.white-panel .fav_star {
    display: none
}

.white-panel.bookmarked-panel .fav_star {
    display: block;
    position: absolute;
    /* zoom: 0.5; */
    right: 2%;
    top: -80%;
    width: 45px;
}

.white-panel >div div {
    color: #333;
}

.white-panel >div {
    padding: 10px;
    font-size: 12px;
    position: relative;
}

.col-md-2.banner-icons {
    padding: 7% 0 5%;
    text-align: right;
}

.col-md-2.banner-icons img {
    /* zoom: 0.8; */
    margin: 0 6px;
    width: 23px;
}

.panel-last {
    border-top: 1px solid #ccc;
    color: #1e8949;
}

.panel-last a {
    color: #1e8949;
}

.panel-last span {
    text-align: right;
    float: right;
    width: 15px;
    cursor: pointer;
    margin: 6px 0;
}

.col-md-2.banner-icons span {
    position: absolute;
    background: #e93b3b;
    border-radius: 24px;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    top: -14px;
    right: -4px;
    color: #fff;
    font-size: 11px;
}

.col-md-2.banner-icons a {
    position: relative;
}

.search-input-section h2 {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

.search-input-section input[type=text] {
    width: 100%;
    border: none;
    background: #e8e8e8;
    line-height: 30px;
    padding: 5px 5px;
    outline: none;
}

.search-input-section img {
    position: absolute;
    right: 30px;
    top: 10px;
    /*zoom: 0.8;*/
    width: 20px;
}

.search-input-section a {
    color: #813636;
    margin: 10px 0;
    text-align: right;
    float: right;
    font-weight: 400;
}

.search-input-section span {
    font-style: italic;
    margin: 10px 0;
    float: left;
    width: 100%;
    color: #1f6d3e;
}

.pagination ul li {
    list-style: none;
    display: inline-block;
}

.pagination a {
    padding: 5px;
    color: inherit;
    font-weight: 500;
    color: #171717;
}

.pagination a.active-pag {
    color: #26a520;
}

.pagination {
    text-align: center;
}

.search-result-section h3 {
    color: #317ba1;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: underline;
    margin-top: 0;
}

.search-filter h4 {
    font-weight: 500;
    font-size: 16px;
    color: #26a520;
    margin: 10px 0;
}

.search-filter a {
    margin: 10px 0;
    font-weight: 500;
    font-size: 16px;
    color: #515151;
    display: block;
}

.search-result-section p {
    font-size: 12px;
}

.search-result-section > div {
    padding-bottom: 30px;
    border-left: 1px solid #ccc;
}

.search-filter {
    padding-top: 15px;
}

.footer-text {
    text-align: center;
    color: #26a520;
    font-weight: 400;
    line-height: 50px;
}

.search-result-links a {
    color: #317ba1;
    margin: 0 20px 0 0;
}

.search-result-section {
    margin-top: 27px;
}

.card-ad-search {
    background: #f6f6f6;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid rgb(185, 185, 185);
}

.card-ad-search h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0;
    height: 43px;
    overflow: hidden;
}

.card-ad-search h5 {
    font-size: 17px;
    font-weight: 300;
    margin-top: 3px;
    margin-bottom: 0;
}

.card-ad-search p {
    margin-top: 20px;
    text-align: justify;
}

.card-ad-search hr {
    border-top: 1px solid #999;
}

.card-gride-text {
    font-weight: 500;
    line-height: 30px;
    font-size: 16px;
}

a.visit-page {
    float: right;
    color: #f00 !important;
    font-weight: 400;
}

.card-gride-text a {
    color: inherit;
}

.card-gride-text .col-md-4 {
    font-style: italic;
}

.col-md-8.tag-section li {
    list-style: none;
    margin: 0 15px 0 0;
    float: left;
}

.col-md-8.tag-section a {
    color: indianred;
}

.col-md-8.tag-section span {
    padding: 0px 15px;
    background: #dadada;
    color: #333339;
    float: left;
    font-size: 12px;
    line-height: 18px;
}

.col-md-8.tag-section img {
    float: left;
    /*zoom: 0.5;*/
    width: 16px;
}

.sort-section {
    text-align: right;
}

.sort-section select {
    background: #f6f6f6;
    border: none;
    padding: 5px;
    outline: none;
}

.card-gride-text img {
    /*zoom: 0.7;*/
    width: 15px;
}

label {
    font-weight: 500;
    font-style: normal;
}

.searchThimbnil {
    height: 100px;
    overflow: hidden;
}

.profileSideMenu {
    background: #4b955c;
    color: #fff;
}

.profileMenu a {
    color: #131313;
    font-weight: 500;
    line-height: 50px;
    font-size: 16px;
    /* margin: 0 5%; */
    display: table-cell;
    /* border-right: 1px solid #ccc; */
}

.profileMenu {
    text-align: center;
    display: table;
    width: 100%;
}

.profileSideMenu h2 {
    font-weight: 300;
    font-size: 35px;
}

.profileSideMenu li {
    list-style: none;
    line-height: 30px;
    font-weight: 500;
}

b,
strong {
    font-weight: 500;
}

.editProfile a {
    color: #fff;
    position: absolute;
    top: 1%;
    right: 1%;
    font-style: italic;
}

.profileTrend {
    border: 1px solid #ccc;
}

.profileTrend ul li {
    list-style: none;
}

.profileTrend li a {
    border-bottom: 1px solid #ccc;
    line-height: 16px;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 10px;
    color: inherit;
    font-weight: 400;
}

.profileTrend> strong {
    line-height: 40px;
    color: #d94c4b;
    display: block;
}

.profileTrend ul li:last-child a {
    border: none;
    margin: 0;
}

.profile-connections h3 {
    margin: 0 0 10px 0;
    color: #959fa0;
    font-size: 20px;
    text-align: left;
}

.more-btn {
    background: #fff;
    border: 1px solid #ccc;
    padding: 8px 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    color: #4b955c;
    text-align: right;
    float: right;
}

.profileTrendlink {
    margin: 10px 0;
    line-height: 30px;
}

.profileTrendlink a {
    color: #d94c4b;
}

.profileMain h2 {
    margin: 20px 0 20px;
    font-weight: 300;
    line-height: 23px;
    color: #596e6f;
    font-size: 35px;
}

.profile-connections {
    border-right: 1px solid #ccc;
    text-align: center;
}

.profileSideMenu li span {
    /* text-align: right; */
    float: right;
    width: 50%;
}

.sidelist li {
    font-weight: 400;
}

.grouptitle h4 {
    text-transform: uppercase;
    font-weight: 300;
    color: #4b955c;
    font-size: 22px;
}

.grouptitle p {
    /* line-height: 15px; */
    margin: 0;
    font-size: 12px;
}

.profilepic {
    padding: 6% 0 0;
    text-align: center;
}

.profilepic img {
    width: 100%;
}

@media (max-width: 767px) {
    .sort-section {
        margin: 20px 0 0;
        float: left;
        width: 100%;
    }
    .col-md-8.tag-section {
        display: block;
        float: left;
        width: 100%;
    }
    .profileMain h2 {
        font-size: 24px;
    }
    .aval-calander {
        padding: 1px 0;
    }
    .avai-heading {
        padding: 1px 0;
    }
    .courseSuggestion h4 {
        padding: 5%;
    }
    .register-btn a {
        display: block;
        margin: 4% 0;
    }
    .profileMenu a {
        display: inline-block;
        margin: 0 2%;
        line-height: 29px;
    }
    .profilepic {
        float: left;
        margin: 0 0 10px;
        padding: 21% 0 0;
    }
    #login img {
        width: 100%;
    }
    .banner-icons {
        padding: 1% 0 5%;
    }
    .white-panel {
        left: 1% !important;
        right: 1% !important;
    }
    section.banner-section h1 {
        font-size: 22px;
    }
    .banner-texts {
        padding: 17% 0 2%;
        text-align: center;
    }
    .profilepic {
        padding: 30% 0 0;
        text-align: center;
    }
    section.banner-section .banner-texts a {
        margin: 15px 10px 0 0;
    }
    .profileSideMenu {
        padding: 20px 10px;
    }
    .profileTrend {
        margin: 10px 0;
        float: left;
        width: 100%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efecee;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: #282828;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #efecee;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
    box-shadow: 1px 1px 4px 0px #828282;
}

.slider.round:before {
    border-radius: 50%;
}

.selectGride select {
    width: 100%;
    background: #EFECEE;
    border: none;
    padding: 5px;
    margin: 5px 0;
    color: #333;
}

.selectGride {
    padding: 6%;
    color: #fff;
    margin: 0 0 20px;
    /* width: 48%; */
    box-shadow: 2px 2px 6px 0px #ccc;
}

.selectGride h4 {
    margin: 0 0 5px;
}

.switchWrap {
    text-align: right;
    padding: 10px 0;
}

.gridePanelHead {
    background: #282828;
    color: #fff;
    text-align: center;
    padding: 5px;
    height: 65px;
    overflow: hidden;
}

.gridePanel {
    border: 1px solid #cecece;
    margin-bottom: 20px;
    background: #F6F6F6;
}

.gridePanel select {
    width: 100%;
    background: #EFECEE;
    border: none;
    padding: 5px;
    margin: 5px 0;
    color: #333;
    font-weight: 500;
}

.gridePanelHead h4 {
    margin: 8px 0 0;
}

.mapWrap {
    margin-bottom: 20px;
}

.coursesSelected {
    padding: 30px 0;
    font-weight: 500;
}

.coursesSelected span {
    padding: 0 10px;
}

.coursesSelected a {
    padding: 0 10px;
    color: inherit;
}

.courseSuggestion {
    padding: 0 0 50px 0;
}

.courseSuggestion h4 {
    float: left;
    width: 100%;
}

.updatesection {
    border: 1px solid #ccc;
    padding: 10px;
}

.updatesection li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.updatesection li:last-child {
    border: none;
    padding: 0;
}

.updatesection i {
    float: left;
    margin: 3px 4px 0 0;
    color: #163F0B;
}

.updatesection strong {
    font-weight: 600;
    color: #163F0B;
}

.updatesection a {
    color: #333;
}

.courseprogress strong {
    font-weight: 600;
}

.courseduration {
    font-style: italic;
    font-size: 12px;
}

.progress-bar {
    background: #FB2400;
}

.progress {
    border-radius: 0;
    box-shadow: none;
}

.title-color {
    color: #ABA6A7;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h5 {
    font-size: 14px;
    font-weight: 600;
}

.updatesection h5,
.updatesection>div a {
    color: #DE3742;
    font-weight: 600;
}

.ui-widget.ui-widget-content {
    margin: 20px auto;
}

.compare-btn {
    background: #dadada;
    color: #333339;
    margin: 0 10px;
    padding: 5px;
}

a,
a:focus {
    text-decoration: none;
    outline: none;
}

.talk-mentor {
    color: #d94c4b;
    float: right;
    font-size: 19px;
    padding: 10px 0 30px;
}

.avai-heading {
    background: #475cdb;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.aval-calander {
    background: #475cdb;
}

.profileMenu a.sub-men-active {
    color: #4b955c;
}

.login-form li input {
    background: #fff;
    border: 1px solid #ddd;
    line-height: 30px;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

.login-form li textarea {
    background: #fff;
    border: 1px solid #ddd;
    line-height: 30px;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}

.login-form li {
    list-style: outside none none;
}

.login-form li input[type=submit] {
    background: #475CDB;
    color: #fff;
}

.detail-page-ico {
    text-align: center;
    padding: 20px 0;
}

.detail-page-ico i {
    font-size: 40px;
    display: block;
    color: #fff;
    background: #337ab7;
    line-height: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.more-btn.advanced-search-btn {
    width: 190px;
    float: none;
    margin: 0 auto;
    text-align: center;
    background: #6485f7;
    opacity: 1;
    color: #fff;
}

.more-btn.left-align {
    float: left;
}

.search-result-section.detail-page {
    background: #ebebec;
    padding: 3% 0;
}

.search-result-section.detail-page > div {
    border: none;
}

.profilepic>div {
    width: 110px;
    height: 110px;
    border-radius: 210px;
    overflow: hidden;
    border: 2px solid #fff;
    line-height: 100px;
    background: #fff;
    float: right;
}

.checkbox {
    padding-left: 20px;
}

.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}

.carousel-control {
    left: -12px;
}

.carousel-control.right {
    right: -12px;
}

.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

.carousel-indicators li {
    background: #c0c0c0;
}

.carousel-indicators .active {
    background: #333333;
}

.draggable {
    width: 15%;
    /* height: 80px; */
    /*padding: 1%;*/
    float: left;
    margin: 1% 0.5%;
    font-size: 16px;
    background: #e21414;
    color: #fff;
    font-weight: bold;
    box-shadow: 2px 2px 9px -4px #000;
    cursor: move;
}

.ui-widget-header p,
.ui-widget-content p {
    margin: 0;
}

#snaptarget {
    text-align: center;
    /*height: 140px;*/
    padding: 9% 0;
}

.slide-wrap {
    width: 100%;
    float: left;
    /*overflow: auto;*/
}

.slide-pat {
    /*width: 500%;*/
}

.card-create .col-md-12 {
    text-align: center;
    line-height: 110px;
    background: #f9f9f9;
    margin: 20px 0;
    font-size: 25px;
    box-shadow: 2px 2px 9px -4px #000;
    padding: 0;
}

.card-select {
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    position: relative;
}

.card-select ul {
    list-style: none;
    line-height: 30px;
    position: absolute;
    color: #fff;
    width: 100%;
    z-index: 1;
    left: 0;
    display: none;
}

.card-select div {
    cursor: pointer;
}

.card-select div:hover +ul,
.card-select ul:hover {
    display: block;
}

.draggable i {
    float: left;
    font-size: 30px;
    width: 30%;
}

.draggable p {
    float: left;
    width: 70%;
}

.card-select div i {
    float: right;
    margin: 8px;
}

.colr1 {
    background: #a1613b;
}

.colr2 {
    background: #4f9f62;
}

.colr3 {
    background: #b2b95c;
}

.colr4 {
    background: #5265a0;
}

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

#draggable,
#draggable-nonvalid {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

.draggable div {
    font-size: 12px;
    background: #fff;
    float: left;
    color: #000;
    font-weight: normal;
    width: 100%;
    padding: 10px;
}

.draggable>span {
    float: left;
    width: 100%;
    padding: 10px;
}

.mentor-in-prof li img {
    float: left;
    border-radius: 3px;
}

.mentor-in-prof li {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
}

.mentor-in-prof li a {
    float: left;
    border: none;
    width: 30%;
    padding: 2%;
}

.mentor-in-prof li p {
    margin: 0;
}

.mentor-in-prof li div {
    float: left;
    width: 70%;
    padding: 2%;
}

.inst-prof img {
    width: 48%;
    margin: 1%;
    float: left;
}

.set-fav {
    cursor: pointer;
}

.detail-page-ico i.f-active {
    background: #F44336;
}

.register-btn {
    padding: 20px 0;
}

.register-btn a {
    color: #fff;
    background: #0fa11e;
    padding: 13px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.compare-tbl td {
    vertical-align: middle !important;
}

.compare-tbl h5 {
    font-weight: normal;
}
