<div class="" ng-controller="searchPage">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();"><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-8 col-md-offset-2 banner-texts" ng-if="!loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>Realize you Passion, Fulfill Your Dream</h1>
                        </div>
                        <div class="col-md-4">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Right mentoring with Trust and Care at every step we take together…!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts" ng-if="loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="search-content-section">
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-8 tag-section">
                    <ul>
                        <li>
                            <a href="#"><img src="images/header-tag.png"><span>Arts</span></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/header-tag.png"><span>Music</span></a>
                        </li>
                        <li>
                            <a href="#"><img src="images/header-tag.png"><span>Cooking</span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 sort-section">
                    <a href="" class="compare-btn" data-toggle="modal" data-target="#compare">Compare</a>
                    <span>Sort By</span>
                    <select>
                        <option>Relevance</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" ng-repeat="w in searchResult">
                    <div class="col-md-12 card-ad-search">
                        <div class="row">
                            <div class="col-md-6 searchThimbnil">
                                <img ng-src="{{w.searchResultImg}}">
                            </div>
                            <div class="col-md-6"> Courses Offered : {{w.CoursesOffered}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>{{w.searchHeading}}</h4>
                                <h5>{{w.searchResultAddress}}</h5>
                                <p>{{w.searchDescription}}</p>
                            </div>
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <div class=" card-gride-text">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">Ratings</div>
                                <div class="col-md-8 col-xs-8"> <img src="images/Rating-Star-gray.png"> <img src="images/Rating-Star-gray.png"> <img src="images/Rating-Star-gray.png"> <img src="images/Rating-Star-gray.png"> <img src="images/Rating-Star-gray.png"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">Followers</div>
                                <div class="col-md-8 col-xs-8">{{w.Followers}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-4">Reviews</div>
                                <div class="col-md-8 col-xs-8">{{w.Reviews}} <a href="#/institute-detail" class="visit-page">VISIT PAGE ></a> </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Compare
                                        <input type="checkbox" value="">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal fade" id="compare" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Institute Compare</h4>
            </div>
            <div class="modal-body compare-tbl">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tr>
                                <th></th>
                                <th>Fees</th>
                                <th>Rating</th>
                                <th>Distance</th>
                            </tr>
                            <tr>
                                <td>
                                    <h4>College of fine art, Bangalore</h4>
                                    <h5>Kumara Karupa Road, Bangaluru - 03</h5>
                                </td>
                                <td>10000/-</td>
                                <td><img src="images/Rating-Star.png">
                                    <img src="images/Rating-Star.png">
                                    <img src="images/Rating-Star.png">
                                    <img src="images/Rating-Star-gray.png">
                                    <img src="images/Rating-Star-gray.png">
                                </td>
                                <td>5 km</td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>College of fine art, Bangalore</h4>
                                    <h5>Kumara Karupa Road, Bangaluru - 03</h5>
                                </td>
                                <td>15000/-</td>
                                <td><img src="images/Rating-Star.png">
                                    <img src="images/Rating-Star.png">
                                    <img src="images/Rating-Star-gray.png">
                                    <img src="images/Rating-Star-gray.png">
                                    <img src="images/Rating-Star-gray.png">
                                </td>
                                <td>2 km</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
