<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();" ><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container">
            <div class="row profileMenu">
                <a href="#">Academics</a>
                <a href="#">Leisures</a>
                <a href="#">Create a new me</a>
                <!-- <a href="#/profile-page">Profile</a>
                <a href="#/learning-plan">Learning Plan</a>
                <a href="#/notifications">Notifications</a>
                <!-- <a href="#">Remainders</a> -->
                <a href="#/advanced-search">Course Search</a>
                <a href="#/mentors" class="sub-men-active">Mentors</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-12 gridePanel">
                                <div class="row">
                                    <div class="col-md-12 gridePanelHead">
                                        <h4>SESSION AVAILABILITY</h4>
                                        <p>Choose your session preference</p>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- <input type="text" id="datepicker"> -->
                                        <!-- <div id="datepicker"></div> -->
                                        <iframe src="https://calendar.google.com/calendar/embed?src=maaz%40simpragma.com&ctz=Asia/Calcutta" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
                                        <!-- <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>  -->
                                        <!-- <div ui-calendar ng-model="eventSources"></div> -->
                                    </div>
                                    <div class="col-md-12">
                                        <div class="switchWrap">
                                            <label class="switch">
                                                <input type="checkbox">
                                                <div class="slider round"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12 gridePanel">
                        <div class="row">
                            <div class="col-md-12 gridePanelHead">
                                <h4>FEE PREFERENCE</h4>
                                <p>Choose a limit of fees</p>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select>
                                    <option>1 Lakh</option>
                                </select>
                                <br>
                                <br>
                                <h4>PAYMENT TERMS </h4>
                                <p>Choose a payment term</p>
                                <br>
                                <select>
                                    <option>Instalment</option>
                                </select>
                                <div class="switchWrap">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 gridePanel">
                        <div class="row">
                            <div class="col-md-12 gridePanelHead">
                                <h4>RATING</h4>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select>
                                    <option>Min 4 star</option>
                                </select>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<section class="footer-section">
</section>
</div>
