<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();" ><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container">
            <div class="row profileMenu">
                <a href="#/profile-page">Profile</a>
                <a href="#/learning-plan">Learning Plan</a>
                <a href="#/notifications">Notifications</a>
                <!-- <a href="#">Remainders</a> -->
                <a href="#/course-search">Course Search</a>
                <a href="#/mentors">Mentors</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 selectGride" style=" background: #6485F7;">
                                <h4>COMMUNICATION MEDIUM</h4>
                                <p>Choose a language for your course</p>
                                <select>
                                    <option>English</option>
                                </select>
                                <div class="switchWrap">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12 selectGride" style=" background: #5ED4BB;">
                                <h4>PREFFERED LOCATION</h4>
                                <p>Choose a area you would like to pursue a career in</p>
                                <select>
                                    <option>Bangalore</option>
                                </select>
                                <div class="switchWrap">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mapWrap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497698.6615322168!2d77.3500429975178!3d12.954516281810951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C+Karnataka!5e0!3m2!1sen!2sin!4v1482314434732" width="100%" height="360" frameborder="0" style="border:0"></iframe>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 gridePanel">
                                <div class="row">
                                    <div class="col-md-12 gridePanelHead">
                                        <h4>SESSION AVAILABILITY</h4>
                                        <p>Choose your session preference</p>
                                    </div>
                                    <div class="col-md-12">
                                        <!-- <input type="text" id="datepicker"> -->
                                        <div id="datepicker"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="switchWrap">
                                            <label class="switch">
                                                <input type="checkbox">
                                                <div class="slider round"></div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12 gridePanel">
                        <div class="row">
                            <div class="col-md-12 gridePanelHead">
                                <h4>FEE PREFERENCE</h4>
                                <p>Choose a limit of fees</p>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select>
                                    <option>1 Lakh</option>
                                </select>
                                <br>
                                <br>
                                <h4>PAYMENT TERMS </h4>
                                <p>Choose a payment term</p>
                                <br>
                                <select>
                                    <option>Instalment</option>
                                </select>
                                <div class="switchWrap">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 gridePanel">
                        <div class="row">
                            <div class="col-md-12 gridePanelHead">
                                <h4>RATING</h4>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select>
                                    <option>Min 4 star</option>
                                </select>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-12 gridePanel">
                        <div class="row">
                            <div class="col-md-12 gridePanelHead">
                                <h4>COURSE TYPE</h4>
                                <p>Choose course type</p>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select>
                                    <option>Online / ofline</option>
                                </select>
                                <div class="switchWrap">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="col-md-12 gridePanel">
                        <div class="row">
                            <div class="col-md-12 gridePanelHead">
                                <h4>VIDEO AVAILABILITY</h4>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select>
                                    <option>Yes</option>
                                </select>
                                <div class="switchWrap">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-12 gridePanel">
                        <div class="row">
                            <div class="col-md-12 gridePanelHead">
                                <h4>CLASS STRENGTH PREFERENCE</h4>
                                <p>Choose class strength</p>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select>
                                    <option>20 or below</option>
                                </select>
                                <div class="switchWrap">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<section class="footer-section">
</section>
</div>
