<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();"><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic">
                    <!-- <div><img ng-src="{{profileData.profilePic}}"></div> -->
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>CREATE A NEW ME</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row card-create">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                MATURITY
                                <div class="card-select colr1">
                                    <div>Choose Meturity Level <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="colr1">
                                        <li>PROFESSIONAL</li>
                                        <li>SEROIUS</li>
                                        <li>FUN</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                TIMELINE
                                <div class="card-select colr2">
                                    <div>Choose a Timeline <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="colr2">
                                        <li>PROFESSIONAL</li>
                                        <li>SEROIUS</li>
                                        <li>FUN</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                LEARNING MODE
                                <div class="card-select colr3">
                                    <div>Choose a Learning Mode <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="colr3">
                                        <li>PROFESSIONAL</li>
                                        <li>SEROIUS</li>
                                        <li>FUN</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                PRIORITY
                                <div class="card-select colr4">
                                    <div>Choose a Priority <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    </div>
                                    <ul class="colr4">
                                        <li>PROFESSIONAL</li>
                                        <li>SEROIUS</li>
                                        <li>FUN</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="snaptarget" class="draggable3 ui-widget-header">
                        <h4>CHOOSE A SKILL</h4>
                        <p>Drag a card from the skills below and drop in the bord here.</p>
                        <!-- <p><br></p> -->
                        <!-- <p><a href="#/analytics">CREATE PLAN</a></p> -->
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="slide-wrap">
                        <div class="slide-pat">
                            <div class="draggable2 draggable ui-widget-content">
                                <span><i class="fa fa-music" aria-hidden="true"></i>
                                <p>DJ</p></span>
                                <div><h5>Lorem ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></div>
                            </div>
                            <div class="draggable2 draggable ui-widget-content">
                                <span><i class="fa fa-music" aria-hidden="true"></i>
                                <p>DRUM</p></span>
                                <div><h5>Lorem ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></div>
                            </div>
                            <div class="draggable2 draggable ui-widget-content">
                                <span><i class="fa fa-music" aria-hidden="true"></i>
                                <p>VIOLIN</p></span>
                                <div><h5>Lorem ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></div>
                            </div>
                            <div class="draggable2 draggable ui-widget-content">
                                <span><i class="fa fa-music" aria-hidden="true"></i>
                                <p>WELLNESS</p></span>
                                <div><h5>Lorem ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></div>
                            </div>
                            <div class="draggable2 draggable ui-widget-content">
                                <span><i class="fa fa-music" aria-hidden="true"></i>
                                <p>RUGBY</p></span>
                                <div><h5>Lorem ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></div>
                            </div>
                            <div class="draggable2 draggable ui-widget-content">
                                <span><i class="fa fa-music" aria-hidden="true"></i>
                                <p>CHEMYSTERY</p></span>
                                <div><h5>Lorem ipsum</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
