<div class="" ng-controller="homePage">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();" ><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-8 col-md-offset-2 banner-texts" ng-if="!loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>Realize you Passion, Fulfill Your Dream</h1>
                        </div>
                        <div class="col-md-4">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Right mentoring with Trust and Care at every step we take together…!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts" ng-if="loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-content-section">
        <div class="container">
            <div class="row">
                <br>
                <div class="col-md-3">
                    <img src="images/Card-2.png">
                </div>
                <div class="col-md-9">
                    <h4>TED TALKS</h4>
                    <p style="color:red">How to stay focussed ~ Stancy Lumix</p>
                    <p>We have handpicked the most stirring and transformational videos from the experts across Globe considering your identified interests and true passion. Enjoy the wise words from the experts that might touch your life in many ways..!</p>
                    <p>On Random basis - Top 4 Ranking Video with below Statistics to be displayed for the First Time Users and trending identified videos for users whose profiles are registered with us. </p>
                    <div class="row detail-page-ico">
                        <div class="col-md-3"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Followers : 200
                        </div>
                        <div class="col-md-3"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Learning Plans : 150
                        </div>
                        <div class="col-md-3" ng-if="loggedUser"><a href="#/logged-users"><i class="fa fa-handshake-o" aria-hidden="true"></i> Logged In Users friends: 5</a>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-diamond set-fav" aria-hidden="true"></i>
                            <!-- <i class="fa fa-star-o" aria-hidden="true"></i> -->
                            <!-- <i class="fa fa-star" aria-hidden="true"></i> -->
                            Add to your favorite
                        </div>
                    </div>

                    <div class="row search-result-section detail-page">
                    <div class="col-md-12">
                        <h3>College of fine art, Bangalore</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        <p class="search-result-links"><a href="#">Location:Bangalore</a> <a href="#">Rating:4.5</a> <a href="#">Reviews:46</a></p>
                    </div>
                    <div class="col-md-12">
                        <h3>ARTS COLLEGE HUBLI</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        <p class="search-result-links"><a href="#">Location:Bangalore</a> <a href="#">Rating:4.5</a> <a href="#">Reviews:46</a></p>
                    </div>
                    <div class="col-md-12">
                        <h3>VENKATAPPA ART COLLEGE</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                        <p class="search-result-links"><a href="#">Location:Bangalore</a> <a href="#">Rating:4.5</a> <a href="#">Reviews:46</a></p>
                    </div>

                </div>

                <div class="row"><a href="#/search-page" class="more-btn left-align">SEARCH MORE</a></div>

                </div>
            </div>
        </div>
    </section>
</div>
