<div class="" ng-controller="homePage">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();"><a href="#/">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-8 col-md-offset-2 banner-texts" ng-if="!loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>Realize you Passion, Fulfill Your Dream</h1>
                        </div>
                        <div class="col-md-4">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Right mentoring with Trust and Care at every step we take together…!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>


                <div class="col-md-8 banner-texts" ng-if="loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span  ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-content-section">
        <div class="container">
            <div class="row">
                <br>
                <section id="pinBoot">
                    <article class="white-panel">
                        <a href="#/home-gride-detail1"><img src="images/Card-1.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">What Suits me Best?</a></h4>
                            <p>Animation, Politics, Hacking, Ice Hockey.</p>
                        </div>
                        <div class="panel-last">
                            <a href="">sample.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 204</div>
                        </div>
                    </article>
                    <article class="white-panel">
                        <a href="#/home-gride-detail2"><img src="images/Card-2.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">TEDX TALKS</a></h4>
                            <p>How to stay focussed ~ Stancy Lumix</p>
                        </div>
                        <div class="panel-last">
                            <a href="">tedtalk.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 23</div>
                        </div>
                    </article>
                    <article class="white-panel">
                        <a href="#/home-gride-detail3"><img src="images/Card-3.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">LEARN GUITAR IN 90 DAYS</a></h4>
                            <p>Online classes for Acoustic and Electric Guitar</p>
                        </div>
                        <div class="panel-last">
                            <a href="">youscian.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 3K</div>
                        </div>
                    </article>
                    <article class="white-panel">
                        <a href="#/home-gride-detail4"><img src="images/Card-4.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">20 FASHION TIPS</a></h4>
                            <p>Daily Fashion tips from lakme Institute of fashion Technology for a trendy girl</p>
                        </div>
                        <div class="panel-last">
                            <a href="">sample.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 603</div>
                        </div>
                    </article>
                    <article class="white-panel">
                        <a href="#/home-gride-detail5"><img src="images/Card-5.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">SPORTS EVENT</a></h4>
                            <p>Course on Petrology begins from 1st NOV</p>
                        </div>
                        <div class="panel-last">
                            <a href="">cambridgeuniversity.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 204</div>
                        </div>
                    </article>
                    <article class="white-panel">
                        <a href="#/home-gride-detail6"><img src="images/Card-6.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">UNIVERSITY OF CAMBRIDGE</a></h4>
                            <p>Course on Petrology begins from 1st NOV</p>
                        </div>
                        <div class="panel-last">
                            <a href="">sample.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 14K</div>
                        </div>
                    </article>
                    <article class="white-panel">
                        <a href="#/home-gride-detail7"><img src="images/Card-7.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">CAREER STEPS TO BE CEO</a></h4>
                            <p>Animation, Politics, Hacking, Ice Hockey.</p>
                        </div>
                        <div class="panel-last">
                            <a href="">sample.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 403</div>
                        </div>
                    </article>
                    <article class="white-panel">
                        <a href="#/home-gride-detail8"><img src="images/Card-8.png" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">What Suits me Best?</a></h4>
                            <p>Animation, Politics, Hacking, Ice Hockey.</p>
                        </div>
                        <div class="panel-last">
                            <a href="">sample.com</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 942</div>
                        </div>
                    </article>
                    <!-- <article class="white-panel" ng-class="favGride" ng-repeat="x in homegride">
                        <a href="#"><img ng-src="{{x.image}}" alt=""> </a>
                        <div>
                            <span class="fav_star"><img src="images/Card-6-icon.png"></span>
                            <h4><a href="#">{{x.title}}</a></h4>
                            <p>{{x.description}}</p>
                        </div>
                        <div class="panel-last">
                            <a ng-href="{{x.gridLink}}">{{x.gridLink}}</a> <span ng-click="starClicked()" class="star_btn"><img src="images/card-3-star-icon.png"></span>
                            <div>Follower 23K</div>
                        </div>
                    </article> -->
                </section>
            </div>
        </div>
    </section>
</div>
