<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Right Move</title>
    <link rel="icon" href="images/Logo.png" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/timepicker.css" />
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-app="app">
    <div ng-view></div>
    <section class="footer-section" ng-controller="login-controller">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">How it works</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <iframe width="100%" height="300" src="https://www.youtube.com/embed/y92RCNakB6w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen id="cartoonVideo"></iframe>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="login" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Login Using Social Media</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-xs-3"><img src="images/facebook.png"></div>
                            <div class="col-md-3 col-xs-3"><img src="images/twitter.png"></div>
                            <div class="col-md-3 col-xs-3"><img src="images/gplus.png"></div>
                            <div class="col-md-3 col-xs-3"><img src="images/linkedin.png"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Login Using Email</h3></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="login-form">
                                    <ul>
                                        <li>
                                            <input type="text" name="" ng-model="name">
                                        </li>
                                        <li>
                                            <input type="password" name="" ng-model="password">
                                        </li>
                                        <li>
                                            <input type="submit" value="Login" name="" data-dismiss="modal" ng-click="myFunc();" data-dismiss="modal">
                                        </li>
                                        <li>{{loginError}}</li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    <input type="checkbox" name="">
                                    <label>Remember me</label>
                                </label>
                            </div>
                            <div class="col-md-6">
                                <a href="#">Forget password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="libs/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/jquery-ui.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/gride.js"></script>
    <script src="libs/timepicker.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
