<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();"><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div>
                        <a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a>
                    </div>
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 profileSideMenu">
                    <div class="col-md-11 col-md-offset-1">
                        <!-- <h2>ABOUT ALICE STARK</h2> -->
                        <!-- <div class="editProfile"><a href="#">Edit Profile</a></div> -->
                        <h4>ALICE STARK</h4>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{profileData.profileAddress}}</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{profileData.ProfilePhoneNo}}</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{profileData.ProfileEmail}}</li>
                        </ul>
                        <p>{{profileData.ProfileAbout}}</p>
                        <div>
                            <iframe width="100%" height="200" src="https://www.youtube.com/embed/y92RCNakB6w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <ul class="sidelist">
                            <li>Acadamic Interest : <span>{{profileData.AcadamicInterest}}</span></li>
                            <li>Hobbies of Interest : <span>{{profileData.HobbiesofInterest}}</span></li>
                            <li>Community of intetest : <span>{{profileData.Communityofintetest}}</span></li>
                            <li>Group of Interest : <span>{{profileData.GroupofInterest}}</span></li>
                            <li><strong>Learning Style/Approach</strong></li>
                            <li>Role Models : <span>{{profileData.RoleModels}}</span></li>
                            <li>My Earning : <span>{{profileData.MyEarning}}</span></li>
                            <li><strong>My Uploads:</strong></li>
                            <li>Photos <span>{{profileData.Photos}} <i class="fa fa-picture-o" aria-hidden="true"></i></span></li>
                            <li>Videos <span>{{profileData.Videos}} <i class="fa fa-video-camera" aria-hidden="true"></i></span></li>
                            <li>Documents <span>{{profileData.Documents}} <i class="fa fa-file-o" aria-hidden="true"></i></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 profileMain">
                    <div class="col-md-12">
                        <h2>COLLEGE OF FINE ART, BANGALORE</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="images/Image-Card1.png">
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 profileTrend">
                                <strong>ABOUT INSTITUTE</strong>
                                <p>Kumara Karupa Road, Bangaluru - 03</p>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 profileTrend">
                                <strong>Courses Offered</strong>
                                <ul>
                                    <li><a href="#">Visual Art</a></li>
                                    <li><a href="#">Painting</a></li>
                                    <li><a href="#">Sculpting</a></li>
                                    <li><a href="#">Graphic Design</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-12 profileTrend mentor-in-prof">
                                <strong>Mentors</strong>
                                <ul>
                                    <li>
                                        <a href="#/mentors-detail"><img src="images/mentor1.jpg"></a>
                                        <div>
                                            <p><strong>Diane Buckland</strong></p>
                                            <p>Guitar</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#/mentors-detail"><img src="images/mentor2.jpg"></a>
                                        <div>
                                            <p><strong>Diane Buckland</strong></p>
                                            <p>Java</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#/mentors-detail"><img src="images/mentor3.jpg"></a>
                                        <div>
                                            <p><strong>Diane Buckland</strong></p>
                                            <p>Cooking</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 profileTrend mentor-in-prof">
                                <strong>Friends</strong>
                                <ul>
                                    <li>
                                        <a href="#/friend-profile"><img src="images/friends/1.jpg"></a>
                                        <div>
                                            <p><strong>Emily Davidson</strong></p>
                                            <p>Guitar</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#/friend-profile"><img src="images/friends/2.jpg"></a>
                                        <div>
                                            <p><strong>Edward Butler</strong></p>
                                            <p>Java</p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#/friend-profile"><img src="images/friends/3.jpg"></a>
                                        <div>
                                            <p><strong>Harry Duncan</strong></p>
                                            <p>Cooking</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-12 profileTrend mentor-in-prof">
                                <strong>Reviews</strong>
                                <ul>
                                    <li>
                                        <a href="#/friend-profile"><img src="images/friends/1.jpg"></a>
                                        <div>
                                            <p><strong>Emily Davidson</strong></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#/friend-profile"><img src="images/friends/2.jpg"></a>
                                        <div>
                                            <p><strong>Edward Butler</strong></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet.
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#/friend-profile"><img src="images/friends/3.jpg"></a>
                                        <div>
                                            <p><strong>Harry Duncan</strong></p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </section>
</div>
