<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();" ><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container">
            <div class="row profileMenu">
                <a href="#/profile-page">Profile</a>
                <a href="#/learning-plan" class="sub-men-active">Learning Plan</a>
                <a href="#/notifications">Notifications</a>
                <!-- <a href="#">Remainders</a> -->
                <a href="#/advanced-search">Course Search</a>
                <a href="#/mentors">Mentors</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center title-color">PRESENT LEARNING PLAN</h2>
                </div>
                <div class="col-md-5">
                    <div class="courseprogress">
                        <h3 class="title-color">COURSE IN PROGRESS</h3>
                        <div class="row">
                            <div class="col-md-3"><strong>Visual Arts</strong></div>
                            <div class="col-md-6">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 courseduration">30 Months Left</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><strong>GUITAR</strong></div>
                            <div class="col-md-6">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 courseduration">30 Months Left</div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"><strong>BBA</strong></div>
                            <div class="col-md-6">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 courseduration">30 Months Left</div>
                        </div>
                    </div>
                    <div class="col-md-12 updatesection">
                        <h5>UPDATES</h5>
                        <ul>
                            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><p><strong>Visual Arts</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p></a></li>
                            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><p><strong>GUITAR</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p></a></li>
                            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><p><strong>Visual Arts</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p></a></li>
                            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><p><strong>BBA</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p></a></li>
                            <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><p><strong>HTML</strong> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.</p></a></li>
                        </ul>
                        <div class="text-right"><a href="#">MORE ></a></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12 coursesSelected" style="padding: 20px 0px 10px;">
                            <a href="#">VISUAL ARTS</a> <a href="#">GUITAR</a> <a href="#">BBA</a> <a href="#">HTML</a>
                        </div>
                        <div class="col-md-12">
                            <img src="images/learningplan.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
