<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();" ><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container">
            <div class="row profileMenu">
                <a href="#/profile-page">Profile</a>
                <a href="#/learning-plan">Learning Plan</a>
                <a href="#/notifications">Notifications</a>
                <!-- <a href="#">Remainders</a> -->
                <a href="#/advanced-search">Course Search</a>
                <a href="#/mentors" class="sub-men-active">Mentors</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <a href="#/mentor-appointment" class="talk-mentor">Talk to Mentor <i class="fa fa-commenting" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                        </div>
                        <div class="col-md-7">
                            <iframe width="100%" height="200" src="https://www.youtube.com/embed/y92RCNakB6w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/mentor1.jpg">
                        </div>
                        <div class="col-md-7">
                            <p>BASM Form University of Campbridge,
                                <br> Master in Music from Lixon University
                                <br> Experiance of teaching music : 15 years in University of Cambridge</p>
                            <p>
                                <br>
                                <br>
                                <br>
                            </p>
                            <p>Number of student Counselled : <strong>300</strong>
                                <br> Number of student now : <strong>30</strong>
                                <br> Rating : 4.8 | Review : <strong>30</strong> </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>COUNSELLING CURRICULUM</h3>
                    <div class="col-md-12 profileTrend">
                        <strong>LESSON ON ACOUSTIC GUTAR</strong>
                        <ul>
                            <li ng-repeat="trend in TrendsyouMissedtoCatchUp"><a href="#">{{trend.trendVal}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 profileTrendlink">
                        <a href="#">ADVANCE ACOUSTIC ></a>
                        <br>
                        <a href="#">MUSIC THEORY ></a>
                        <br>
                        <a href="#/mentor-appointment" class="more-btn">GET GUIDENCE</a>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="row">
                <div class="col-md-4 avai-heading">
                    
                    <h3>AVAILABILITY</h3>
                </div>
                <div class="col-md-8 aval-calander">
                    <div id="datepicker"></div>

                    <!-- <p><input id="basicExample" type="text" class="time" /></p> -->
                    <!-- <p><input type="submit" name=""  class="more-btn"></p> -->
                        <a href="#/mentor-appointment" class="more-btn">BOOK APPOINMENT</a>

                    
                </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
