<div class="" ng-controller="homePage">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();"><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-8 col-md-offset-2 banner-texts" ng-if="!loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>Realize you Passion, Fulfill Your Dream</h1>
                        </div>
                        <div class="col-md-4">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Right mentoring with Trust and Care at every step we take together…!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts" ng-if="loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="home-content-section" ng-controller="login-controller">
        <div class="container">
            <div class="row">
                <br>
                <div class="col-md-6">
                    <!-- <img src="images/Card-5.png"> -->
                    <form class="login-form">
                        <ul>
                            <li>
                            <label>Mentor Name</label>
                                <input type="text" name="">
                            </li>
                            <li>
                            <label>Mentor Address</label>
                            <textarea></textarea>
                            </li>

                            <li>
                            <label>About Mentor</label>
                            <textarea></textarea>
                            </li>
                            <li>
                            <label>Courses Offered</label>
                                <input type="text" name="">
                            </li>
                            <li>
                            <label>Number of student Counselled</label>
                                <input type="text" name="">
                            </li>
                            <li>
                            <label>Number of student now</label>
                                <input type="text" name="">
                            </li>
                            <li>
                            <label>Contact No.</label>
                                <input type="text" name="">
                            </li>
                            <li>
                            <label>Email Address</label>
                                <input type="text" name="">
                            </li>   
                        </ul>
                    </form>
                </div>
                <div class="col-md-6">
                <form class="login-form">
                        <ul>
                            <li><label>Mentor Image</label>
                            <input type="file" name="">

                            </li>
                            <li><label>Mentor Video</label>
                            <input type="file" name="">

                            </li>
                            <li>
                            <label>Date Availability</label>
                    <div id="datepicker"></div>
                                
                            </li>
                            <li>
                                <input type="submit" value="Register">
                            </li>
                            </ul></form>
                    <!-- <img src="images/Card-5.png"> -->
                </div>
            </div>
            
        </div>
    </section>
</div>
