<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();" ><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container">
            <div class="row profileMenu">
                <a href="#/profile-page">Profile</a>
                <a href="#/learning-plan">Learning Plan</a>
                <a href="#/notifications" class="sub-men-active">Notifications</a>
                <!-- <a href="#">Remainders</a> -->
                <a href="#/advanced-search">Course Search</a>
                <a href="#/mentors">Mentors</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <a href="#" class="btn btn-xs btn-primary pull-right">Contact</a>
                        Your Course on <strong>Artificial intelligence</strong> is scheduled to start on <strong>April 15th 2017 at AI Institute Marathalli</strong>
                    </div>
                    <div class="alert alert-warning">
                        <a href="#" class="btn btn-xs btn-warning pull-right">Video Link</a>
                        <strong>60%</strong> of the users like the institute that you have chosen for <strong>AI course</strong>. Video upload is available . You may click the link to view.
                    </div>
                    <div class="alert alert-danger">
                        <a href="#" class="btn btn-xs btn-danger pull-right">See Friends</a>
                        
                        <strong>2</strong> of your friends in your location subscribed for the same course.

                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
