<div class="" ng-controller="ProfileController">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();" ><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="profile_pages">
        <div class="container">
            <div class="row profileMenu">
                <a href="#/profile-page" class="sub-men-active">Profile</a>
                <a href="#/learning-plan">Learning Plan</a>
                <a href="#/notifications">Notifications</a>
                <!-- <a href="#">Remainders</a> -->
                <a href="#/advanced-search">Course Search</a>
                <a href="#/mentors">Mentors</a>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 profileSideMenu">
                    <div class="col-md-11 col-md-offset-1">
                        <h2>ABOUT</h2>
                        <div class="editProfile"><a href="#">Edit Profile</a></div>
                        <h4>{{profileData.profileName}}</h4>
                        <ul>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{profileData.profileAddress}}</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i> {{profileData.ProfilePhoneNo}}</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i> {{profileData.ProfileEmail}}</li>
                        </ul>
                        <p>{{profileData.ProfileAbout}}</p>
                        <div>
                            <iframe width="100%" height="200" src="https://www.youtube.com/embed/y92RCNakB6w?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <ul class="sidelist">
                            <li>Acadamic Interest : <span>{{profileData.AcadamicInterest}}</span></li>
                            <li>Hobbies of Interest : <span>{{profileData.HobbiesofInterest}}</span></li>
                            <li>Community of intetest : <span>{{profileData.Communityofintetest}}</span></li>
                            <li>Group of Interest : <span>{{profileData.GroupofInterest}}</span></li>
                            <li><strong>Learning Style/Approach</strong></li>
                            <li>Role Models : <span>{{profileData.RoleModels}}</span></li>
                            <li>My Earning : <span>{{profileData.MyEarning}}</span></li>
                            <li><strong>My Uploads:</strong></li>
                            <li>Photos <span>{{profileData.Photos}} <i class="fa fa-picture-o" aria-hidden="true"></i></span></li>
                            <li>Videos <span>{{profileData.Videos}} <i class="fa fa-video-camera" aria-hidden="true"></i></span></li>
                            <li>Documents <span>{{profileData.Documents}} <i class="fa fa-file-o" aria-hidden="true"></i></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 profileMain">
                    <div class="col-md-12">
                        <h2>MY SKILLS</h2>
                    </div>
                    <div class="col-md-8">
                        <img src="images/Body-part-image.png">
                    </div>
                    <div class="col-md-4 profileTrend">
                        <strong>Trends you Missed to Catch Up:</strong>
                        <ul>
                            <li ng-repeat="trend in TrendsyouMissedtoCatchUp"><a href="#">{{trend.trendVal}}</a></li>
                        </ul>
                        <strong>EMPLOYMENT OPPORTUNITIES</strong>
                        <ul>
                            <li ng-repeat="emp in employmentOpportunities"><a href="#">{{emp.opportunity}}</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-6 profile-connections">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>FRIENDS</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 text-right">
                                <!-- <img src="images/card-4-user-icon.png">
                                <img src="images/card-4-user-icon.png"> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{friends[0].Fimage}}">
                            </div>
                            <div class="col-md-6">
                                <img ng-src="{{friends[1].Fimage}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{friends[2].Fimage}}">
                            </div>
                            <div class="col-md-6">
                                <img ng-src="{{friends[3].Fimage}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="#/social" class="more-btn">More Friends</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 profile-connections">
                        <div class="row">
                            <div class="col-md-6 col-xs-6">
                                <h3>GROUPS</h3>
                            </div>
                            <div class="col-md-6 col-xs-6 text-right">
                                <!-- <img src="images/card-4-user-icon.png">
                                <img src="images/card-4-user-icon.png"> -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img ng-src="{{group[0].Gimage}}">
                            </div>
                            <div class="col-md-6 grouptitle">
                                <h4>{{group[0].Gtitle}}</h4>
                                <p>Last Updated :{{group[0].LastUpdated}}</p>
                                <p>Notifications :{{group[0].Notifications}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 grouptitle">
                                <h4>{{group[1].Gtitle}}</h4>
                                <p>Last Updated :{{group[1].LastUpdated}}</p>
                                <p>Notifications :{{group[1].Notifications}}</p>
                            </div>
                            <div class="col-md-6">
                                <img ng-src="{{group[1].Gimage}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="#" class="more-btn">More Groups</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
</div>
