<div class="" ng-controller="searchPage">
    <section class="header-section">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/"><img src="images/right-move-logo.png"></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar1" class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="" data-toggle="modal" data-target="#myModal">How it works</a></li>
                    <li><a href="#/create-a-new-me">Create a new me</a></li>
                    <li><a href="#/mentors">Mentor Me</a></li>
                    <li><a href="#/learning-plan">My Learning Plan</a></li>
                    <li ng-if="!loggedUser" class="header-login"><a href="" data-toggle="modal" data-target="#login">Login</a></li>
                    <li ng-if="loggedUser" class="header-login" ng-click="logout();"><a href="#">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <!--/.container-fluid -->
        </nav>
    </section>
    <section class="banner-section">
        <div class="container-fluid">
            <div class="">
                <div class="col-md-8 col-md-offset-2 banner-texts" ng-if="!loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>Realize you Passion, Fulfill Your Dream</h1>
                        </div>
                        <div class="col-md-4">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Right mentoring with Trust and Care at every step we take together…!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 profilepic" ng-if="loggedUser">
                    <div><a href="#/profile-page"><img ng-src="{{profileData.profilePic}}"></a></div>
                </div>
                <div class="col-md-8 banner-texts" ng-if="loggedUser">
                    <div class="">
                        <div class="col-md-8">
                            <h1>{{profileData.profileName}}</h1>
                        </div>
                        <div class="col-md-4">
                        </div>
                    </div>
                    <div class="">
                        <div class="col-md-12">
                            <p>Status : {{profileData.Status}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 banner-icons">
                    <a href="#/search-page"><img src="images/Header-Search.png"></a>
                    <a href="#/social"><img src="images/User-icon.png"></a>
                    <a href="#/notifications"><img src="images/chat-notification.png"><span ng-if="loggedUser">3</span></a>
                    <a href="#/profile-page"><img src="images/Setting.png"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="search-content-section">
        <div class="container">
            <div class="row search-input-section">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <h2>SEARCH</h2>
                        </div>
                        <div class="col-md-6">
                            <a href="#/advanced-search">Advanced Search ></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="" ng-model="basic_search_text">
                            <img src="images/Search-icon-page2.png">
                        </div>
                        <div class="col-md-12">
                            <span>Search for course, University, Acadamy, Leisure Studies, Mentors</span>
                        </div>
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary checkbox-inline ">
                                <input id="checkbox1" type="checkbox" ng-model="Institute" ng-checked="true" ng-init="Institute=true">
                                <label for="checkbox1">
                                    Institute
                                </label>
                            </div>
                            <div class="checkbox checkbox-primary checkbox-inline ">
                                <input id="checkbox2" type="checkbox" ng-model="Mentors" ng-checked="true" ng-init="Mentors=true">
                                <label for="checkbox2">
                                    Mentors
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 search-filter">
                    <h4>Everything</h4>
                    <a href="#">Location</a>
                    <!-- <a href="#">Institute</a>
                    <a href="#">Mentors</a> -->
                    <!-- <a href="#">Map</a> -->
                    <!-- <a href="#">Images</a> -->
                    <a href="#">Reviews</a>
                </div>
                <div class="col-md-8 search-result-section" ng-if="basic_search_text">
                    <div class="col-md-12" ng-repeat="w in searchResult | filter:basic_search_text : !Institute || !Mentors ">
                        <h3>{{w.searchHeading}}</h3>
                        <p>{{w.searchDescription}}</p>
                        <p class="search-result-links"><a href="#">Location:{{w.Location}}</a> <a href="#">Rating:{{w.Rating}}</a> <a href="#">Reviews:{{w.Reviews}}</a></p>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="col-md-12 pagination">
                        <ul>
                            <li><a href="#">1</a></li>
                            <li><a href="#" class="active-pag">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">>></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div> -->
        </div>
    </section>
</div>
